<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Logga in</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="logo-container">
        <img src="/images/habit-tracker.jpg" alt="Habit Tracker Logo" class="app-logo">
    </div>

    <div class="center-page">
        <div class="card">
            <h1>Logga in</h1>

            <input type="text" id="login-email" placeholder="Email" required>
            <input type="password" id="login-password" placeholder="Lösenord" required>

            <button onclick="login(event)">Logga in</button>

            <p>Har du inget konto? <a href="register.html">Registrera dig</a></p>
        </div>
    </div>

    <script src="/js/auth.js"></script>

</body>
</html>
